.row-card {
    width: 80vw;
    clear: both;
    display: table;
    margin: 1rem auto;
}

.col-card {
    width: calc(80vw / 3);
    float: left;
}
@media only screen and (max-width: 900px) {
    .col-card {
        width: 100%;
        float: unset;
        margin: 0rem auto;
    }
}

.row-card-inner {
    width: max-content;
    margin: 0rem auto;
}

/* font */
.p-color {
    color: white;
    text-align: center;
}